  
  

  
  .pr{
    display: none;
}
.ptn{
    width: 80px;
}
.ddd{
    display: none;
}  
.show{
    display: none;
}
.show.active{
    display: block;
}
.FST{
    font-size: 15px;
}
.hamber{
    display: none;
}
.minimenu{
    display: none;
}

@media print {
   .no-print {
    display: none;
   }
   

}
.bnt{
    display: none;
    border-radius: 10px;
    width: 50px;
    height: 35px;
    position:absolute;
    top: 2%;
      left: 80%;
}
@media  screen and ( max-width: 768px) {
    .fns{
        font-size: 3vw;
    }
    body{
        overflow-x: hidden;
    }
    .bnt{
        display: block;
    }
    .grndmenu{
        display: none;
    }
    .minimenu{
        display:block;
        background-color: rgb(187, 235, 187);
       

       
    }
    .minimenu nav a{
        border-bottom: 1px seashell solid;
    }

    .minimenu{
        display: none;
    }
    .minimenu.active{
        display: block;
        transition-duration: 500ms;
    }
    
   
    .pr{
        display: block;
        font-size: 9px;
        width: 250px;
        margin-left: 50px;
    }
    


    .FFF div p{
        font-size: 9px;

    }
    .ham{
        display: none;
    }
    .circle {
        width: 90%;
        height: 60%;

    }
    .circle img{
        width: 90%;
        height: 95%;
    }
    .circle div{
       width: 100%;
       height: 60%;
       margin: 4px;

    }
    .circle div h4{
        font-size: 8px;
        margin-top: 10px;
    }
    .hamber{
        position: fixed;
        top: 3%;
        right: 3%;
    }
    .FFF div h6{
        font-size:10px;
    }
    .PNG div img{
        width: 30PX;
    }

    .FSTD{
        font-size: 8px;
       padding-top: 0px;
       padding-bottom: 0px;
    }
    .tol{
        height: auto;
       
    }
    .crd{
        height: 25%;
    }
    .FST{
        font-size: 5px;
    }
    .ptn{
        width: 40px;
        height: 10px;
        padding-bottom: 15px;
        justify-content: center;    
    }
.place{
    margin-left: 100px;
    margin-top: -35%;
}  
.MMM{
    margin-left: 14%;
}  
  
.dddd{
   display: none;
    
} 
.ddd{
    display: block;
}   

.fff{
    font-size: 2vw;
}
.ZZZ{
    margin-bottom: auto;
}

    
}
.gal{
    width: 20%;

}