  
  body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  
  .pr{
    display: none;
}
.ptn{
    width: 80px;
}
.ddd{
    display: none;
}  
.show{
    display: none;
}
.show.active{
    display: block;
}
.FST{
    font-size: 15px;
}
@media print {
   .no-print {
    display: none;
   }
   

}
@media  screen and ( max-width: 768px) {
    .fns{
        font-size: 3vw;
    }
    
   
    .pr{
        display: block;
        font-size: 9px;
        width: 250px;
        margin-left: 50px;
    }

    .FFF div p{
        font-size: 9px;

    }
    .FFF div h6{
        font-size:10px;
    }
    .PNG div img{
        width: 30PX;
    }

    .FSTD{
        font-size: 8px;
       padding-top: 0px;
       padding-bottom: 0px;
    }
    .tol{
        height: auto;
       
    }
    .crd{
        height: 25%;
    }
    .FST{
        font-size: 5px;
    }
    .ptn{
        width: 40px;
        height: 10px;
        padding-bottom: 15px;
        justify-content: center;    
    }
.place{
    margin-left: 100px;
    margin-top: -35%;
}  
.MMM{
    margin-left: 14%;
}  
  
.dddd{
   display: none;
    
} 
.ddd{
    display: block;
}   

.fff{
    font-size: 2vw;
}
.ZZZ{
    margin-bottom: auto;
}

    
}
.gal{
    width: 20%;

}